@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #E6EFF5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 100px;
    width: 635px;
}

.white-area {
    background: white;
    border-radius: 8px 8px 0 0;
    padding: 40px;
}

.card .white-area h3 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #2AB3B1;
    margin-bottom: 24px;
}

.card .white-area h4 {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.22499999403953552px;
    text-align: left;
    color: #C0DF33;
    margin-bottom: 11px;
}

.card .white-area p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #9AA7BE;
}

.blue-area {
    display: flex;
    background: #2AB3B1;
    justify-content: center;
    color: #FFFFFF;
}

.blue-area .left {
    background: inherit;
    padding: 40px;
    width: 50%;
}

.blue-area .right {
    background: rgba(255, 255, 255, 0.15);
    mix-blend-mode: normal;
    padding: 40px;
    width: 50%;
}

.blue-area h5 {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.22499999403953552px;
    text-align: left;
    margin-bottom: 18px;
}

.blue-area .left .price {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 0.5);
    mix-blend-mode: normal;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}


.blue-area .left .price span.money {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.4px;
    color: rgba(255, 255, 255, 1);
    margin-right: 11px;
}

.blue-area .left p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-bottom: 26px;
}

.blue-area .left a {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    display: block;
    background: #C0DF33;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
    box-shadow: 0px 10px 10px 0px #00000019;
    color: white;
}

.blue-area .right .text {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.17499999701976776px;
    text-align: left;
    color: rgba(255, 255, 255, 0.75)
}