@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, .body1, .body2 {
  font-style: normal;
  color: #33323D;
  text-align: left;
}

h1, h2, h3 {
  font-family: 'Ibarra Real Nova', serif;
}

.body1, .body2 {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.4464285671710968px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.3571428656578064px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.2857142984867096px;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 15px;
}

.btn-primary {
  background-color: #203A4C;
  color: white;
  -webkit-text-fill-color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-primary .bg-img {
  padding: 18px 16px;
  background: rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
  stroke: #5FB4A2;
}

.btn-primary .btn-txt {
  text-transform: uppercase;
  font-family: 'Public Sans', sans-serif;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #5FB4A2;
}

.btn-primary:hover svg {
  stroke: white;
}

.btn-primary:active {
  position: relative;
  top: 1px;
}

.btn-contact {
  background-color: #FAFAFA;
  color: #33323D;
  -webkit-text-fill-color: #33323D;
  -webkit-box-shadow: inset 0px 0px 0px 1px #33323D;
          box-shadow: inset 0px 0px 0px 1px #33323D;
  font-weight: 100;
}

.btn-contact:hover {
  background-color: #33323D;
  color: #FAFAFA;
  -webkit-text-fill-color: #FAFAFA;
}

.btn-submit {
  all: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #203A4C;
  color: #FAFAFA;
  -webkit-text-fill-color: #FAFAFA;
  font-weight: 400;
}

.btn-submit:hover {
  background-color: #5FB4A2;
  color: #FAFAFA;
  -webkit-text-fill-color: #FAFAFA;
}

.btn-secondary, .btn-contact, .btn-submit {
  display: block;
  padding: 17px;
  width: 162px;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 14px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

input, textarea {
  all: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ebebec;
  color: #33323D;
  -webkit-text-fill-color: #33323D;
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

input:focus, textarea:focus {
  -webkit-box-shadow: inset 0px 0px 0px 2px #33323D;
          box-shadow: inset 0px 0px 0px 2px #33323D;
}

input {
  height: 48px;
}

textarea {
  height: 72px;
}

label {
  font-family: 'Public Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

html {
  background: #fafafa;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header {
  margin-top: 64px;
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

header nav a {
  line-height: 14px;
  letter-spacing: 2px;
  color: #33323D;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

header nav a.active {
  color: #5FB4A2;
}

.pre-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.pre-footer h3 {
  width: 33%;
}

footer {
  background: #33323D;
}

footer .container {
  padding: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .group-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

footer .container .group-pages .group-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

footer .container .group-pages .group-links a {
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 14px;
  letter-spacing: 2px;
}

footer .container .group-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.card {
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
}

section.card .card-img img {
  width: 35vw;
}

section.card .card-txt h2 {
  margin-bottom: 28px;
}

section.card .card-txt .body1 {
  opacity: 80%;
  margin-bottom: 24px;
}

section.card .card-txt a {
  display: block;
  margin: 0 auto;
}

hr {
  height: 1px;
  border: none;
  max-width: 100%;
  background-color: #33323D;
  color: #33323D;
  -webkit-text-fill-color: #33323D;
  opacity: 0.15;
}
/*# sourceMappingURL=global.css.map */