.resume {
  padding: 24px;
  color: #2f2f2f;
}

.resume__title {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 2px 8px 0px 8px;
}

.entradas,
.saidas,
.saldo {
  display: flex;
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  gap: 15px;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}

.entradas {
  margin-top: 23px;
}

.saidas {
  margin-top: 14px;
}

.resume hr {
  margin-top: 19px;
  height: 1px;
  color: #eaeaea;
  background-color: #eaeaea;
  border: none;
}

.saldo {
  margin-top: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

.balance {
  color: #3a9ff1;
  white-space: nowrap;
}